.fencing-scoreboard--current-user {
  background-color: var(--main-blue-3);
}

.fencing-scoreboard--container {
  display: flex;
  flex-direction: column;
}

.fencing-scoreboard--container td,
.fencing-scoreboard--container th {
  padding: 8px;
}

.fencing-scoreboard--team-name {
  display: flex;
  justify-content: space-between;
}

.fencing-scoreboard--team-name > * {
  margin-left: 4px;
}

.fencing-scoreboard--user-name {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.fencing-scoreboard--win-indicator {
  margin-left: 8px;
  color: #4caf50;
  font-weight: bold;
}
