.fencing-countdown {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  flex-direction: column;
  align-items: center;
  font-size: 300%;
}

.fencing-countdown--timer {
  font-size: 150%;
}

/* Dark mode */
.dark .fencing-countdown {
  color: var(--dark-primary-text);
}
