.clock {
  display: inline-flex;
  align-items: center;
  font-size: 16pt;
  cursor: pointer;
  vertical-align: middle;
}

.clock.clock--paused {
  opacity: 0.7;
}

.clock__icon {
  height: 0.8em;
  font-size: unset;
}

.clock__value {
  font-variant-numeric: tabular-nums;
}
